
body {
    margin: 0;
    padding: 0;
    

    /* padding: 1rem;
    padding-bottom: 0; */
    width: 250px;

    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;

    font-size:16px;

    display: block;
    background-color: #FEF0DC;
    /* height: 280px;
    width: 420px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #FEF0DC; */

}

* {
    box-sizing: border-box;
}



h1 {
    margin: 0;
    padding: 0;
}

h1#topHeading {
    font-size: 32px;
    font-weight: 200;
    color: #623F3F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px; 
    /* margin-bottom: 1rem; */
    /* line-height: 1.2em; */
}

#timer-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timerInput {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 48px;
    
    color: #7a070748;
    background-color:#FEF0DC;
    
    border: none;
    text-align: right;
    padding-right: 8px;
    width: 153px;
    
    /* margin: 19px 0px 25px 3px;  */
    font-variant-numeric: tabular-nums; 
    letter-spacing: 2px; 
    line-height: 1;
}

h1#timerDisplay {
    font-size: 48px;
    font-weight: 200;
    color: #7a070748;
    /* margin: 20px 0px 26px 0px;  */
    font-variant-numeric: tabular-nums;
    letter-spacing: 2px;
}



#timerInput::placeholder {
    font-size: 48px;
    /* color: #5a575725; */
}


button#pauseResumeButton {
    color: #623F3F;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 32px;
    background-color: #FEF0DC;
    height: 65px;
    width: 130px;
    border-width: 2px;
    border-color: #623F3F;
}
/*
button#resetButton {
    color: #623F3F;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    background-color: #FEF0DC;
    height: 40px;
    width: 70px;
    border-width: 2px;
    border-color: #623F3F;
}


#timerContainer {
    display: inline-block; 
} */

