body {
    margin: 0;
    padding: 0;
    width: 600px;
    display: block;
    background-color: var(--newbrown);
}

#settings-block {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 0px;
}

h1, h2, button {
    font-family: "Jomolhari", serif;
    font-style: normal;
}
#saveLinksButton {
    width: 200px;
    color: var(--beige);
    background-color: var(--darkbrown);
    border:none;
}
#saveLinksButton:disabled {
    /* color: var(--newbrown);*/
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    /* cursor: default; */
    /* visibility: hidden; */
}
label {
    color: var(--beige)
}
h1 {
    color: var(--beige);
    font-size: 30px;
    font-weight: 600;
    height: auto;
    line-height: 50px;
}

h2 {
    color: var(--beige);
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 50px;
}