body {
    background-color: var(--newbrown);
}

/* ::selection {
    background-color: var(--highlightyellow);
} */

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 200px;
    height: auto;
    border:none;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
}

#buttons-block {
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    font-family: "Jomolhari", serif;
    font-style: normal;
}

h2 {
    text-align: center;
    font-family: "Georgia", serif;
    font-style: normal;
}

h1 {
    color: var(--beige);
    font-size: 30px;
    font-weight: 600;
    height: auto;
    line-height: 60px;
}

h2 {
    font-style: italic;
    color: var(--beige);
    font-size: 14px;
    font-weight: 400;
    height: auto;
    line-height: 28px;
}

#openStarredLinksButton {
    font-family: "Georgia", serif;
    color: var(--beige);
    background-color: var(--olivegreen);
    border: none;
}

#openStarredLinksButton:hover {
    background-color: var(--lightolivegreen);
}